#container
{
	margin: 0 30px;
	background: #fff;
	background-color:#DDDDDD;
}

#header
{
	background: #ccc;
	padding: 20px;
}

#header h1 { margin-left: 50%; }

#navigation
{
	float: left;
	width: 100%;
	background: #333;
}

#navigation ul
{
	margin-left:40%;
	padding-bottom:30px;

	
}

#navigation ul li
{
	list-style-type: none;
	display: inline;
	
}

#navigation li a
{
	display: block;
	float: left;
	padding: 5px 10px;
	color: #fff;
	text-decoration: none;
	border-right: 1px solid #fff;
}

#navigation li a:hover
 { 
	background: #99DDEE;
	color: black;
 }



#article
{
	width:2000px;
	margin-left:auto;
	margin-right:auto;
}

#edito
{
	clear: left;
	padding: 20px;
	margin: 20px;
	-webkit-border-radius: 18px;
	border-radius: 18px;
	-webkit-box-shadow: 0px 0px 10px #000000;
	box-shadow: 0px 0px 6px #000000;
	background-image: -webkit-gradient(linear, left top, right top, from(#d6e1ff), to(#dbffe7));
	background-image: -webkit-linear-gradient(left, #d6e1ff, #dbffe7);
	background-image: linear-gradient(left, #d6e1ff, #dbffe7);
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	opacity: 0.83;
	width:40%;
	margin-left:25%;
	background-color:#99DDEE;
	

}

#edito h2
{
	color: #000;
	font-size: 160%;
	margin: 0 0 .5em;
}

#news
{	
	
	width: 40%;
	padding: 20px;
	margin: 20px;
	-webkit-border-radius: 18px;
	border-radius: 18px;
	-webkit-box-shadow: 0px 0px 6px #000000;
	box-shadow: 0px 0px 6px #000000;
	background-image: -webkit-gradient(linear, left top, right top, from(#d6e1ff), to(#dbffe7));
	background-image: -webkit-linear-gradient(left, #d6e1ff, #dbffe7);
	background-image: linear-gradient(left, #d6e1ff, #dbffe7);
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	opacity: 0.83;
	margin-left:25%;
	background-color:#99DDEE;
	
	
}

#footer
{
	clear: both;
	background: black;
	text-align: center;
	padding: 20px;
	height: 1%;
	color:white;
}
#footer a
{
	text-decoration:none;
	color:white;
}

#footer a:hover 
{
	background-color: white;
	color:black;
}
